In [30]:
import pandas as pd

df = pd.read_csv('nyc-east-river-bicycle-counts.csv', index_col=0)

df.head()

#In order to represent precipitation as numeric, convert S values to a separate boolean column 'Snowed', and bin T (Trace)
#with 0.01
df['Snowed'] = df.Precipitation.map(lambda x: 'S' in x)
df.Precipitation.replace(regex=r"\(S\)", value='', inplace=True)
df.Precipitation.replace('T', '0.01', inplace=True)
df.Precipitation = df.Precipitation.astype('float')


df.Date = pd.to_datetime(df.Date)
df.Day = pd.to_datetime(df.Day).dt.day_name()

df.head()

,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total,Snowed
0,2016-04-01,Friday,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497,False
1,2016-04-02,Saturday,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922,False
2,2016-04-03,Sunday,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759,False
3,2016-04-04,Monday,44.1,33.1,0.47,521.0,1067,1440.0,1307.0,4335,True
4,2016-04-05,Tuesday,42.1,26.1,0.00,1416.0,2617,3081.0,2357.0,9471,False

In [31]:
df.pivot_table(index='Date')

,Brooklyn Bridge,High Temp (°F),Low Temp (°F),Manhattan Bridge,Precipitation,Queensboro Bridge,Snowed,Total,Williamsburg Bridge
Date,,,,,,,,,
2016-04-01,1704.0,78.1,66.0,3126,0.01,2552.0,False,11497,4115.0
2016-04-02,827.0,55.0,48.9,1646,0.15,1884.0,False,6922,2565.0
2016-04-03,526.0,39.9,34.0,1232,0.09,1306.0,False,4759,1695.0
2016-04-04,521.0,44.1,33.1,1067,0.47,1307.0,True,4335,1440.0
2016-04-05,1416.0,42.1,26.1,2617,0.00,2357.0,False,9471,3081.0
2016-04-06,1885.0,45.0,30.0,3329,0.00,2849.0,False,11919,3856.0
2016-04-07,1276.0,57.0,53.1,2581,0.09,2457.0,False,9596,3282.0
2016-04-08,1982.0,46.9,44.1,3455,0.01,3194.0,False,12744,4113.0
2016-04-09,504.0,43.0,37.9,997,0.09,1502.0,False,4510,1507.0
2016-04-10,1447.0,48.9,30.9,2387,0.00,2160.0,False,9126,3132.0
2016-04-11,2005.0,62.1,46.0,3791,0.01,3182.0,False,13312,4334.0
2016-04-12,1045.0,57.0,45.0,2178,0.20,2082.0,False,8067,2762.0
2016-04-13,2840.0,57.0,39.9,5395,0.00,4192.0,False,18422,5995.0
2016-04-14,2861.0,62.1,44.6,5309,0.00,4115.0,False,18315,6030.0
2016-04-15,2770.0,64.0,44.1,5072,0.00,3912.0,False,17570,5816.0
2016-04-16,2384.0,66.0,45.0,4316,0.00,4051.0,False,16375,5624.0
2016-04-17,3147.0,73.9,46.0,4969,0.00,4197.0,False,18180,5867.0
2016-04-18,3871.0,81.0,52.0,6823,0.00,4964.0,False,23090,7432.0
2016-04-19,3501.0,71.1,63.0,6951,0.00,5032.0,False,23318,7834.0
2016-04-20,3450.0,68.0,50.0,6574,0.00,4928.0,False,22591,7639.0
2016-04-21,3436.0,71.1,50.0,6452,0.00,4813.0,False,22127,7426.0
2016-04-22,2975.0,78.1,63.0,4907,0.01,3862.0,False,17837,6093.0
2016-04-23,2055.0,70.0,61.0,3276,0.16,3239.0,False,13426,4856.0
2016-04-24,2798.0,68.0,48.0,4650,0.00,3957.0,False,16740,5335.0
2016-04-25,3463.0,66.9,54.0,5978,0.00,4564.0,False,20850,6845.0
2016-04-26,1997.0,60.1,46.9,3520,0.24,2929.0,False,13005,4559.0
2016-04-27,3343.0,62.1,46.9,5606,0.00,4388.0,False,19914,6577.0
2016-04-28,2486.0,57.9,48.0,4152,0.00,3657.0,False,15631,5336.0
2016-04-29,2375.0,57.0,46.9,4178,0.05,3348.0,False,14954,5053.0
2016-04-30,3199.0,64.0,48.0,4952,0.00,3606.0,False,17432,5675.0